* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #D0B8A8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b0d13;
}

body h1 {
    color: #420917;
    margin-top: -35px;
    text-align: left;
    text-shadow: black;
    padding-bottom: 12px;
}

input{
    padding: 10px 10px;
    margin: 10px 10px;
    outline: none;
    border: 1px solid maroon;
    border-radius: 6px;
    color: maroon;
    margin-left: 710px;
    margin-bottom: 10px;
}


main.table {
    width: 82vw;
    height: 90vh;
    background-color: #F8EDE3;
    
    backdrop-filter: blur(15px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 8%;
    padding: .6rem 1rem;    
    background-color: #6e232dd7;
    color: aliceblue;
    text-shadow: black;
    font-size: 12px;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem) ;
    background-color: #C7B7A3;
    box-shadow: 0 .2rem .6rem #0005;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #561C24;
    color: antiquewhite;
    text-shadow: black;

}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

td button:nth-child(1){
    background-color: #0298cf;
}

td button:nth-child(2){
    background-color: red;
}

.tambah{
    padding: 10px 20px;
    color: white;
    background-color: maroon;
    margin-top: 9px;
}

.cari {
    padding: 9px 20px;
    color: white;
    background-color: maroon;
    margin-top: 7px;
}


tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color:#E8D8C4;
}